h1 {
  color: blue;
  text-align: center;
}
h2 {color: green;
    font-style: normal;
    text-align: center;
    font-size: 20px
}
p {
  font-family: sans-serif;
}
ul {
  line-height: 40px;
  color: purple;
  font-size:20px;
  background-color: opaque;
}
img{
    width:450px;
    height:auto;
    ;
   }
